*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Exo 2', sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #15638F;

}
.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 200px;
}
.card-title{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    padding: 16px;
}
.card-text{
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #000000;
    padding: 0 16px;
}
.card-button{
    margin: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    background: #2797B2;
    border-radius: 50px;
    padding: 6px 24px;
    border: none;
}




